.graph_editor
   $toolkit-h: 2px

   height: 100%
   min-width: 800px
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

   &__toolkit
      height: $toolkit-h
      background: $color2
      border-bottom: 1px solid $blocks-border-color
      box-sizing: border-box

   &__content
      @extend %clearfix
      height: calc(100% - #{$toolkit-h})
      min-height: 200px

   &__graph_manager,
   &__project_manager
      height: 100%
      float: left
      box-sizing: border-box
   
   &__graph_manager
      width: 2px
      background: $color2
      border-right: 1px solid $blocks-border-color

   &__project_manager
      width: calc(100% - 2px)
      background: $color0