.project_manager   
   height: 100%
   position: relative

   
   &__header
      position: absolute
      left: 0
      top: 0
      width: 100%
      background: $color1
      border-bottom: 1px solid $blocks-border-color
      overflow: auto
      box-sizing: border-box
      user-select: none
      z-index: 8


   &__project_list
      font-size: 0
      white-space: nowrap
      overflow: auto

      &::-webkit-scrollbar-track 
         background-color: $color3

      &::-webkit-scrollbar-thumb 
         background-color: #aaa

      &::-webkit-scrollbar-thumb:hover
         background-color: #56999f

      &::-webkit-scrollbar
         width: 5px
         height: 5px

   &__new_project

   &__content
      height: 100%
      background: $color0
      position: relative
      z-index: 7

   &__projects
      height: 100%
      background: #f8f8f8
      background: #fff


   &__projects

.project_in_list
   user-select: none
   display: inline-block
   vertical-align: middle
   line-height: 1
   font-size: 0
   background: $color1
   border-right: 1px solid rgba(0,0,0,.1)
   box-sizing: border-box
   position: relative
   padding: 0

   &-selected
      background: $color3

      .project_in_list__select
         opacity: 1

   &__select
      display: inline-block
      vertical-align: middle
      border: none
      background: none
      font-size: 14px 
      cursor: default
      opacity: 0.7
      outline: 0
      transition: opacity .3s
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      max-width: 150px
      padding: 7px 5px

      &:focus
         opacity: 1

   &__close
      @include sprite($close)
      background-position: center
      background-repeat: no-repeat
      height: 100%
      display: inline-block
      vertical-align: middle
      position: relative
      background-color: transparent
      border: none
      font-family: Arial, Helvetica, sans-serif
      color: transparent
      opacity: 0.4
      transition: opacity .3s
      outline: none
      width: 14px
      height: 14px
      padding: 5px 0


      &:hover, &:focus
         opacity: 1
