.project_manager
   $header-h: 30px; 

   widht: 100%
   height: 100%
   
   &__header
      height: $header-h
      background: $color1
      border-bottom: 1px solid $blocks-border-color
      overflow: auto

   &__project_list 
      height: $header-h
      //white-space: nowrap

   &__project_list
      font-size: 0

   &__new_project

   &__content
      height: calc(100% - #{$header-h})
      background: $color0

   &__projects

.project_in_list
   display: inline-block
   vertical-align: middle
   line-height: 1
   height: 100%
   line-height: 
   font-size: 0
   background: transparent
   border-right: 1px solid rgba(0,0,0,.1)
   box-sizing: border-box
   position: relative

   &-selected
      background: $color0

      .project_in_list__select 
         opacty: 1

   &__select
      display: inline-block
      vertical-align: middle
      border: none
      background: none
      height: 100%
      font-size: 14px 
      cursor: default
      opacity: 0.7
      outline: 0
      transition: opacity .2s
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      max-width: 150px

      &:focus
         opacity: 1

   &__close
      @include sprite($close)
      background-position: center
      background-repeat: no-repeat
      height: 100%
      display: inline-block
      vertical-align: middle
      position: relative
      background-color: transparent
      border: none
      font-family: Arial, Helvetica, sans-serif
      color: transparent
      opacity: 0.4
      transition: opacity .2s
      outline: none

      &:hover, &:focus
         opacity: 1