script(type="text/template" id="project_in_list_tmpl")
   <div class="project_in_list <%= (selected) ?  'project_in_list-selected' : '' %>">
      <button class="project_in_list__select" title="<%= name %>"><%= name %></button>
      <button class="project_in_list__close" title="Close">x</button>
   </div>