script(type="text/template" id="project_list_tmpl")
   <% for (let i = 0; i < projects.length; i++) { %>
      <% let project = projects[i]; %>

      .project_in_list(
         class!="<%= (select === project) ? 'project_in_list-selected' : '' %>"
         data-project-id!="<%= project.getId() %>")
   
         button.project_in_list__select(title!="<%= project.getName() %>") <%= project.getName() %>
         button.project_in_list__close(title="Close") x

   <% } %> 

script(type="text/template" id="project_tmpl")
   .workspace
      canvas.workspace__canvas HTML5 canvas not supported