script(type="text/template" id="project_in_list_tmpl")
   <div class="project_in_list <%= (selected) ?  'project_in_list-selected' : '' %>">
      <div class="project_in_list__name"><%= name %></div>
      <button class="project_in_list__close">x</button>
   </div>