<!DOCTYPE html>
html(lang="en")
   head
      include components/system/meta.jade 

      link(rel="stylesheet", href="styles/main.build.css") 
      script(src="scripts/main.build.js" defer)
   body
      .graph_editor
         .graph_editor__toolkit
            .toolkit
         .graph_editor__content
            .graph_editor__graph_manager
               .graph_manager
            .graph_editor__project_manager
               .project_manager
                  .project_manager__header
                     .project_manager__project_list
                     .project_manager__new_project
                  .project_manager__content
                     .project_manager__projects

      include components/app/templates.jade 
   