<!DOCTYPE html>
html(lang="en")
   head
      include components/system/meta.jade 

      include components/system/styles.jade 
      include components/system/scripts.jade 
   body
      .graph_editor
         .graph_editor__toolkit
            .toolkit
         .graph_editor__content
            .graph_editor__graph_manager
               .graph_manager
            .graph_editor__project_manager
               .project_manager
                  .project_manager__header
                     .project_manager__project_list
                     .project_manager__new_project
                  .project_manager__content
                     .projects_manager__projects